NODE_ENV=development
NEXT_PUBLIC_API_ENDPOINT=http://localhost:5000
NEXT_PUBLIC_COGNITO_REGION=us-east-1
NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_COGNITO_CLIENT_ID=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
